<h2 id="title">Welcome to Ember Sprite</h2>

<p>
  The icons below will load from either a 1x or 2x sprite depending on your screen resolution (check with your dev tools to verify):
</p>

<div class="icon icon-star-plus"></div>
<div class="icon icon-star-1"></div>
<div class="icon icon-star"></div>
